<ul class="nav nav-tabs">
    <li class="nav-item">
      <a class="nav-link" routerLink="" routerLinkActive="active" [routerLinkActiveOptions]="{exact : true}">Home</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" [routerLink]="['cv']" routerLinkActive="active" [routerLinkActiveOptions]="{exact : true}">CV</a>
    </li>
    <li class="nav-item" *ngIf="authService.isLogged()">
      <a class="nav-link" [routerLink]="['cv/add']" routerLinkActive="active">Add CV</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" [routerLink]="['servers']" routerLinkActive="active">Servers</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" [routerLink]="['msword']" routerLinkActive="active">Ms-Word</a>
    </li>
    <li class="nav-item" *ngIf="!authService.isLogged()">
      <a class="nav-link" [routerLink]="['login']" routerLinkActive="active">Login</a>
    </li>
    <li class="nav-item" *ngIf="authService.isLogged()">
      <a class="nav-link" (click)="seDeconnecter()" routerLinkActive="active">Logout</a>
    </li>
  </ul>

  <app-search></app-search>